.ish-team-members-wrapper {
  padding: 50px 0 30px;
  padding-right: calc(var(--wp--style--root--padding-right) * -1);
  padding-left: calc(var(--wp--style--root--padding-left) * -1);
  background-color: $light-grey;
}
.ish-team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 640px !important;

  @media (min-width: $break-desktop) {
    max-width: var(--wp--style--global--wide-size) !important;
    justify-content: center;
  }
  @media (min-width: $break-desktop-med) {
    justify-content: space-between;
  }
}
.ish-team-member {
  width: 100%;

  @media (min-width: $break-tablet) {
    width: calc(50% - 20px);
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @media (min-width: $break-desktop) {
    width: calc(33% - 20px);

    &:nth-child(odd) {
      margin-right: 0px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 20px;
    }
  }

  @media (min-width: $break-desktop-med) {
    width: calc(25% - 20px);
    &:nth-child(3) {
      margin-right: 20px;
    }
  }

  margin-bottom: 20px;
}

.ish-team-member__card-text {
  display: none;
}

.ish-team-member__card {
  height: 350px;
  width: 100%;
  background-color: $charcoal;
  max-width: 300px;
  margin: 0 auto;
  position: relative;

  &:hover {
    .ish-team-member__card-text {
      background-color: rgba($black, 0.6);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      color: $white;
      animation: fadeIn 0.8s;
      padding: 10px;

      display: flex;
      align-items: center;
      // padding: $space-40;

      small {
        @include font-size(16, 22);

        a {
          color: #fab700;
        }
      }
    }
  }
}

.ish-team-member__card-head-shot {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  img {
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.ish-team-member__title-role {
  background-color: $charcoal;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.ish-team-member__title {
  color: $white;
  text-align: center;
  h3 {
    @include font-size(23, 23);
    margin: 0px 0 8px 0 !important;
  }
}
.ish-team-member__role {
  color: $white;
  text-align: center;

  h4 {
    @include font-size(17, 24);
    margin: 0 0 0px 0 !important;
  }
}
